# 0.0 Imports

In [1]:
import pandas as pd
import inflection
import math

## 0.1 Helper Functions

## 0.2 Loading Data

In [3]:
df_sales_raw = pd.read_csv('D:\\Backup\\Comunidade DS\\Cursos\\DS em Producao\\data\\train.csv', low_memory=False)
df_store_raw = pd.read_csv('D:\\Backup\\Comunidade DS\\Cursos\\DS em Producao\\data\\store.csv', low_memory=False)

# merge
df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

# 1.0 Descrição dos Dados

In [4]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [5]:
cols_old = list(df_raw.columns)

snakecase = lambda x: inflection.underscore(x)

cols_new = list(map(snakecase, cols_old))

# rename
df1.columns = cols_new

In [6]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

## 1.2 Data Dimensions

In [7]:
print(f'Number os Rows {df1.shape[0]}')
print(f'Number os Rows {df1.shape[1]}')

Number os Rows 1017209
Number os Rows 18

## 1.3 Data Types

In [8]:
df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4 Check NA

In [9]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5 Fillout NA

In [10]:
# competition_distance  -→ Colocando um valor muito acima do que é a distância máxima
# df1['competition_distance'].max()
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x)

# competition_open_since_month  
df1['competition_open_since_month'] = df1.apply(lambda x: x['date'].month if math.isnan(x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

# competition_open_since_year
df1['competition_open_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan(x['competition_open_since_year']) else x['competition_open_since_month'], axis=1)

# promo2_since_week
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan(x['promo2_since_week']) else x['competition_open_since_month'], axis=1)


# promo2_since_year
df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan(x['promo2_since_year']) else x['competition_open_since_month'], axis=1)
               
# promo_interval
month_map = {1: 'Jan', 2: 'Fev', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'} 

df1['promo_interval'].fillna(0, inplace=True)

df1['month_map'] = df1['date'].dt.month.map(month_map)

df1['is_promo'] = df1[['promo_interval', 'month_map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1)

In [11]:
df1.sample(5).T

,301440,148354,808148,305321,236507
store,655,60,559,826,157
day_of_week,4,5,7,7,3
date,2014-10-23 00:00:00,2015-03-20 00:00:00,2013-07-07 00:00:00,2014-10-19 00:00:00,2014-12-31 00:00:00
sales,8030,8557,0,0,4745
customers,796,732,0,0,539
open,1,1,0,0,1
promo,1,1,0,0,0
state_holiday,0,0,0,0,0
school_holiday,0,0,0,0,1
store_type,d,d,d,a,a
assortment,c,c,a,c,c
competition_distance,960.0,5540.0,3910.0,7980.0,2950.0
competition_open_since_month,11.0,10.0,11.0,6.0,10.0
competition_open_since_year,11.0,10.0,11.0,6.0,10.0
promo2,1,0,1,0,0
promo2_since_week,11.0,12.0,11.0,42.0,1.0
promo2_since_year,11.0,2015.0,11.0,2014.0,2014.0
promo_interval,"Feb,May,Aug,Nov",0,"Feb,May,Aug,Nov",0,0
month_map,Oct,Mar,Jul,Oct,Dec
is_promo,0,0,0,0,0